body,
html {
  margin-top: 15px;
  width: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: rgb(246, 246, 246);
}
header{
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}
.wrap {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.wrap2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5em;
}
p {
  margin: 50px;
  text-align: right;
}
h4 {
  font-weight: 400;
}
h1{
  font-size: 1.4em;
  font-weight: 300;
}

button{
  width: 20em;
 height: 20em;
}
button p {
  text-align: center;
  font-size: 1.5em;
  font-weight: 500;
}
.button-wrapper {
  margin-bottom: 0em;
}
.outputWrap {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  border: 1px solid rgb(174, 171, 171);
  width: 98%;
  height: 20em;
  background-color: white;
}
#output {
  align-self: center;
}


#rockBtn{
background-color: rgb(222, 145, 171);
}
#paperBtn{ 
  background-color: rgb(203, 254, 203);
}
#scissorsBtn{
background-color: rgba(175, 238, 238, 0.86);
}

button:hover{
  box-shadow: 0px 0px 3px 2px rgba(203, 203, 203, 0.627);
}

